__pycache__/
*.py[cod]
*.pyo

.idea/
.vscode/

.venv/
venv/

TimeTip-Application/build/
TimeTip-Application/dist/
TimeTip-Application/*.exe
TimeTip-Application/*.log

.pytest_cache/
.ruff_cache/
coverage.xml
.coverage
